### voca_dictionary DB 수동 구축

In [ ]:
import pandas as pd

voca_dict={}
check=0
start=0
check_index=''
while True:
    print("---------dictionary 만들기-----------")
    print(" 1 : 새로운 key값 만들기             ")
    print(" 2 : key의 해당하는 value 작성       ")
    print(" 3 : key 앞글자 검색                 ")
    print(" 4 : 저장 및 종료                    ")
    print("-------------------------------------")
    if start==0:
        try:
            data=pd.read_csv("voca_dictionary.csv", encoding='utf-8-sig', index_col=0)
            check=1
            key='n'
            for st in data.index:
                check_index=' '+st
            
        except:
            print("Create New Data Settings")
            key='n'
        
    start=1
    try:
        num=int(input("select number : "))

        if num==1:
            key=input("key 입력: ")
            try:
                for st in voca_dict.keys():
                    check_index=' '+st
                if key not in check_index.split():
                    voca_dict[str(key)]=''
            except:
                print('',end='')
            print("\n complete \n")

        elif num==2:
            print("-- 숫자 0 입력 시 value 값 입력 종료 --")
            while True:
                if key=='n':
                    print("\nkey insert plz")
                    break
                value=''
                value=input("value 입력: ")
                if value=='0':
                    print('\n')
                    break
                checking=''
                if check==1:
                    for st in data.values:
                        checking+=' '+st[0]
                    for st in voca_dict.values():
                        checking+=' '+st
                else:
                    for st in voca_dict.values():
                        checking+=' '+st
                for name in value.split():
                    if name not in checking.split():
                        voca_dict[str(key)]+=' '+str(name)
                        checking+=' '+str(name)
                    else:
                        print("Already data:", name)
                print(f'\nEnter the {str(key)} = {voca_dict[str(key)]}')
        elif num==3:
            search=input("앞자리 search: ")
            sear=[]
            if len(search)==1:
                ch=''
                for st in data.index:
                    ch+=' '+st
                for st in voca_dict.keys():
                    ch+=' '+st
                for name in ch.split():
                    if search==name[0]:
                        sear.append(name)
                if len(sear)!=0:
                    print("\n>>>>>>>>>>>>>> Search Keys <<<<<<<<<<<<<<<<<<")
                    print(sear)
                    print('\n')
                else:
                    print("\n== Not Keys ==\n")
            else:
                print('\nSearch error\n')
        elif num==4:
            if check==1:
                for key in voca_dict.keys():
                    if key in data.index:
                        data.loc[str(key),'values']+=' '+str(voca_dict[str(key)])
                    else:
                        temp=pd.DataFrame(voca_dict[str(key)], index=[str(key)], columns=['values'])
                        data=data.append(temp)
                try:
                    data.to_csv("voca_dictionary.csv", encoding='utf-8-sig', index=True)
                    break
                except:
                    voca_dict={}
                    print("\nSave error\n")
            else:
                data=pd.DataFrame(voca_dict.values(),index=voca_dict.keys(), columns=['values'])
                data.to_csv("voca_dictionary.csv", encoding='utf-8-sig', index=True)
                break
        else:
            print('\nCommand Error\n')
    except:
        print('\nCommand Error\n')

### voca_dictionary DB 다른 데이터 토대로 구축

In [14]:
import pandas as pd

In [441]:
data=pd.read_csv("voca_dictionary.csv", encoding='utf-8-sig', index_col=0)
# insert data
data2=pd.read_csv("dataset/김민영_voca_dictionary.csv", encoding='utf-8-sig', index_col=0)

In [442]:
data.isnull().sum()

values    0
dtype: int64

In [443]:
data

                                                    values
강아지       포메라니안 불독  시바 허스키 말티즈 테리어 토이스패니얼 토이 스패니얼 토이스페니...
뒹굴                                                      뒹글
조금                                       쪼끔 쪼금 조끔  조늑 쪼금밖에
핥다        햝아 핣는것 햝아여 햛는곳만 핧으며서 햟으면서 햟아 햟는 햝는 햛는 햝는거에요 핡...
요세
...                                                    ...
묶어놨는데                                                묶엇놧는데
낑낑 울어요                                             깅깅대고울어요
깨물다                                                     깨묾
짖는 거에요                                               짖는거에옄
강아지 인데요                                              말티즌데요

[413 rows x 1 columns]

In [444]:
data2

                                                              values
강아지                 포메라니안 불독  시바 허스키 말티즈 테리어 토이스패니얼 토이 스패니얼 토이스페니...
뒹굴                                                                뒹글
조금                                                     쪼끔 쪼금 조끔 쪼금밖에
핥다                  햝아 핣는것 핥아 햝아여 햛는곳만 핧으며서 햟으면서 햟아 햟는 햝는 햛는 햝는거에...
요세                                                               요새
...                                                              ...
공갈 젖꼭지                                                         공갈잦꼭지
한국토종개라고 하네요                                                 한국토종개라네욬
빠른 답변 부탁드립니다                                               빠른답뵨부탁드려요
받았습니다 첫째 비숑이랑                                            받았습니다첫째비숑이랑
말티즈 수컷과 몇 번 마주쳤는데                                      말티즈수컷과몇번마주첫는데

[187 rows x 1 columns]

In [445]:
#insert data 중복 값 제거.
data2.duplicated().sum()

0

In [446]:
data2=data2.drop_duplicates()

In [448]:
# 만들어진 파일 중복 검사

checking=''
check_index=[]
for st in data.values:
    checking+=' '+st[0]
for st in data.index:
    checking+=' '+st
    check_index.append(st)
    
for key in data2.index:
    
    if key not in check_index:
        temp=pd.DataFrame(' ',index=[str(key)], columns=['values'])
        data=data.append(temp)
        check_index.append(str(key))
        i=0
        for n in data.values:
            if key in n[0].split():
                data.iloc[i,0]=data.iloc[i,0].replace(" "+str(key)+" "," ")
            i+=1

    values=data2.loc[str(key),'values']
    for name in values.split():
        if name not in checking.split():
            data.loc[str(key),'values']+=' '+str(name)
            checking+=' '+str(name)
        
display(data)

                                                              values
강아지                 포메라니안 불독  시바 허스키 말티즈 테리어 토이스패니얼 토이 스패니얼 토이스페니...
뒹굴                                                                뒹글
조금                                                 쪼끔 쪼금 조끔  조늑 쪼금밖에
핥다                  햝아 핣는것 햝아여 햛는곳만 핧으며서 햟으면서 햟아 햟는 햝는 햛는 햝는거에요 핡...
요세
...                                                              ...
공갈 젖꼭지                                                         공갈잦꼭지
한국토종개라고 하네요                                                 한국토종개라네욬
빠른 답변 부탁드립니다                                               빠른답뵨부탁드려요
받았습니다 첫째 비숑이랑                                            받았습니다첫째비숑이랑
말티즈 수컷과 몇 번 마주쳤는데                                      말티즈수컷과몇번마주첫는데

[468 rows x 1 columns]

In [449]:
data.isnull().sum()

values    0
dtype: int64

In [450]:
data

                                                              values
강아지                 포메라니안 불독  시바 허스키 말티즈 테리어 토이스패니얼 토이 스패니얼 토이스페니...
뒹굴                                                                뒹글
조금                                                 쪼끔 쪼금 조끔  조늑 쪼금밖에
핥다                  햝아 핣는것 햝아여 햛는곳만 핧으며서 햟으면서 햟아 햟는 햝는 햛는 햝는거에요 핡...
요세
...                                                              ...
공갈 젖꼭지                                                         공갈잦꼭지
한국토종개라고 하네요                                                 한국토종개라네욬
빠른 답변 부탁드립니다                                               빠른답뵨부탁드려요
받았습니다 첫째 비숑이랑                                            받았습니다첫째비숑이랑
말티즈 수컷과 몇 번 마주쳤는데                                      말티즈수컷과몇번마주첫는데

[468 rows x 1 columns]

In [451]:
data.loc['강아지','values']

' 포메라니안 불독  시바 허스키 말티즈 테리어 토이스패니얼 토이 스패니얼 토이스페니얼 파피용 크레스티드 그레이하운드 퍼그 페키니즈 하운드 토이푸들 푸들 시추 치와와 요크셔테리어 요크셔 요크셔태리어 태리어 스피츠 말티푸 키스혼드 불도그 비숑 비숑프리제 프리제 차우차우 달마티안 달마시안 스탠더드스탠더드푸들 스텐더드 스텐더드푸들 미니어처푸들 도사견 시바견 아키타견 동경이 불개 삽살개 진돗개 풍산개 샤페이 티베탄테리어 티베탄 스페니얼 티베탄스페니얼 라사 압소 프렌치불도그 프렌치불독 프렌치 테리어스키퍼키 폭스테리어 케리블루 케리블루테리어 테리어베들링턴테리어 스카이테리어 실리햄테리어 실리햄 케언 케언테리어 불테리어 웰시테리어 웰시 코기 아이리시테리어 웨스트하일랜드화이트테리어 웨스턴아일랜드화이트테리어 스태퍼드셔불테리어 소프트코티드휘튼테리어 스태퍼드 댄디딘몬트테리어 미니어처 슈나우저 스카치 오스트레일리안 노리치 에어데일 잭러셀테리어 핏불 랫테리어 서섹스 필드스패니얼 아이리시워터스패니얼 클럼버 아메리칸 코커 코카 코카스페니엘 코카스파니엘 코카스패니얼 코커스페니얼 코커스파니엘 브리트니 웰시스프링어스패니얼 스프링어 스파니엘 잉글리시 스파니얼 아이리시 세터 리트리버 골든 래브라도 체서피크 베이 컬리 코티드 플랫 포인터 와이마라너비즐라 바센지 로디지안 리지백 파라오 폭스하운드 바셋 해리어 비글 닥스훈트 블러드하운드 아프간 스코티시 디어하운드 울프하운드 휘핏 보르조이 살루키 아자와크 세인트 버나드 베르니즈 마운틴 도그 부비에 데 플랑드르 뉴펀들랜드 사모예드 시베리안 알래스칸 맬러뮤트말라뮤트 그린란드견 쿠바츠 저먼 셰퍼드 코몬도르 그레이트 피레니즈 콜리 캉갈 올드 시프도그 풀리 벨지안 타뷰렌 셰틀랜드 비어디드 브리마르 웰시코기 보더 보더콜리 케르피 캐틀도그 피레니안 마스티프 보스롱 도베르만 보르도 로트바일러 복서 자이언트 스탠더드 핀셔 데인 불마스티프 푸치 치와푸 치와쿠스 포메말 요치 카바푸 코카푸 요푸 라부라도도루 포메치와 말티숑 시푸 마우저 몰키 말티폼 말티츄 말티글 말치 말티핀  몰티즈  강쥐  말티 슈나 우저 퍼피  피숑  츠리 프리  믹스 레터 리버 요키  성견 강아지 강아 아지 시츄강아지   9개월말티즈 말티즈를 말티즈수컷 마르티즈 멍멍이 폼피츠 요크 말라뮤트 발바리 스피치 빠삐용 폼피츠4살 푸들비숑 폼피츠? 꼬똥드툴레아구요 깅아지를 말티즈에요 말티즈인데 스파 니엘 코카스 파니엘 반려 견 테리 코카스파 코카스파니 깅아지 몰티즈죠 잡종 레브 라도 리트 말라뮤트에 레트 잡종견 시베리아 말라뮤트와 말라뮤트를 피숑을 암캉아지 중형견 도견 미친개 장모종 단모종 댕댕이 시고르브자브종 시고르브 자브종 포메라니아 버들강아지 도베 도베르 챠우챠우 누렁이 마르티 하룻강아지 똥개 골드 요크셰테리어 페르시안 말티즌뎅 비숑숫컷 믹스견 이개 티컵 애완견 반려견 대형견'

In [452]:
data.to_csv("voca_dictionary.csv", encoding='utf-8-sig', index=True)